<header dir="ltr" class="flex justify-center mb-96">
  <div class="w-8/12">
    <div class="grid grid-cols-2">
      <img mat-card-image src="{{ movie.poster_path }}" />
      <div class="ml-10 xl:ml-0">
        <p class="text-left text-4xl ml-14">{{ movie.title }}</p>
        <div class="grid grid-cols-2 mt-8">
          <p class="font-medium my-5">popularity</p>
          <div>
            <p class="my-5">{{ movie.popularity }}</p>
          </div>
          <p class="font-medium my-5">release date</p>
          <div>
            <p class="my-5">{{ movie.release_date }}</p>
          </div>
        </div>
        <div class="grid grid-rows-1">
          <p class="font-medium my-7">Genres</p>
        </div>
        <p class="font-medium my-7">description:</p>
        <p>{{ movie.overview }}</p>

        <div class="w-20 h-8 bg-green-700 text-white text-center my-24">
          <a href="javascript:void(0)" dir="rtl" (click)="goBack()"> Back </a>
        </div>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
