<header dir="ltr" class="flex justify-center mb-96">
  <div class="w-8/12 border border-slate-200">
    <div class="grid grid-cols-2">
      <img
        mat-card-image
        src="https://i.pinimg.com/564x/15/45/74/1545744781e1fb85d7c87db6f5c90460.jpg"
      />
      <div class="text-red-950">
        <p class="text-left text-4xl ml-14">NAME</p>
        <div class="grid grid-cols-2 mt-8">
          <p>popularity</p>
          <div>
            <p>original_language/release_date/runtime</p>
          </div>
        </div>
        <div class="grid grid-rows-1">
          <p>The Genres</p>
          <p>ganer</p>
        </div>
        <p>description:</p>
        <p>description</p>
        <div>
          <button [routerLink]="'popular'" class="bg-green-600 text-white">
            Back
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
