<!-- for paginition -->
<!-- <router-outlet></router-outlet>
<mat-paginator
  [length]="hubmovie.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="onPageChange($event)"
>
</mat-paginator>
<button class="w-full grid grid-cols-3 xl:grid-cols-4 gap-0">
  @for (hubmovie of getCurrentPageItems(); track hubmovie.id){
  <a class="example-card w-3/4 my-8" (click)="onMovieClick(hubmovie.id)">
    <img mat-card-image [src]="hubmovie.poster_path" />

    <div class="grid justify-center">
      <p>{{ hubmovie.title }}</p>
      <p>{{ hubmovie.popularity }}</p>
    </div>
  </a>
  }
</button> -->

<!-- for infinite scoroll -->
<router-outlet></router-outlet>
<div
  class="search-results"
  #searchResults
  infiniteScroll
  [infiniteScrollDistance]="1"
  [infiniteScrollThrottle]="25"
  (scrolled)="onScroll()"
>
  <button class="w-full grid grid-cols-3 xl:grid-cols-4 gap-0">
    @for (hubmovie of this.hubmovie; track hubmovie.id){
    <a class="example-card w-3/4 my-8" (click)="onMovieClick(hubmovie.id)">
      <img mat-card-image [src]="hubmovie.poster_path" />

      <div class="grid justify-center">
        <p>{{ hubmovie.title }}</p>
        <p>{{ hubmovie.popularity }}</p>
      </div>
    </a>
    }
  </button>
</div>
