<router-outlet></router-outlet>
<mat-paginator
  [length]="hubmovie.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="onPageChange($event)"
>
</mat-paginator>
<button class="w-full grid grid-cols-3 xl:grid-cols-4 gap-0">
  @for (hubmovie of getCurrentPageItems(); track hubmovie.id){
  <mat-card class="example-card w-3/4 my-8" (click)="onMovieClick(hubmovie.id)">
    <img mat-card-image [src]="hubmovie.poster_path" />

    <div class="grid justify-center text-white">
      <mat-card-subtitle>{{ hubmovie.title }}</mat-card-subtitle>
      <mat-card-subtitle>{{ hubmovie.popularity }}</mat-card-subtitle>
    </div>
  </mat-card>
  }
</button>
