<router-outlet></router-outlet>
<div>
  <header class="flex flex-row border-b border-slate-300 shadow-xl">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon class="flex lg:hidden">menu</mat-icon>
    </button>

    <!-- <span >My App</span> -->
    <div class="app-container py-3">
      <app-theme-toggle></app-theme-toggle>
    </div>
    <button mat-button [matMenuTriggerFor]="aboveMenu">account</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item>Guest Profile</button>
      <button mat-menu-item>Login</button>
    </mat-menu>
  </header>

  <button class="flex justify-end w-full">
    <mat-card class="example-card xl:w-1/4 w-1/2">
      <!-- <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header> -->
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />

      <div class="grid justify-center text-white">
        <mat-card-subtitle>name</mat-card-subtitle>
        <mat-card-subtitle>star</mat-card-subtitle>
      </div>
    </mat-card>
  </button>
  <div class="">
    <button>popular</button>
    <button>popular</button>
    <button>popular</button>
  </div>
</div>
